/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;

}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    background: #FF5400;
    padding: 1rem;
    border: none;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    /* 162.5% */
}

/* Header */
header {
    max-width: 74.25rem;
    margin: 0 auto;
}

/* Navbar */
.nav-container {
    margin: 3rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav h3 span {
    color: #FF5400;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 2.75rem;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
}

.nav ul li:first-child a {
    color: #FF5400;
    font-weight: 700;
}

.hamburger-menu {
    display: none;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Banner-image.png");
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 1rem;
    /* text-align: center; */
}

.banner h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    /* 162.5% */
    max-width: 42.25rem;
    text-align: center;
    margin-bottom: 3rem;
}

.search-area-container {
    max-width: 50rem;
}

.search-area {
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 1.5rem;
}

.search-button,
.search-area select,
.search-area input {
    /* width: 10.875rem; */
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
.search-area input::placeholder, .search-area select{
    padding-left: 1.25rem;
}

.search-button {
    color: #FFF;
    font-weight: 700;
}

.search-area select {
    border-right: 1rem solid #fff;
}


/* Main */
main {
    max-width: 75rem;
    margin: 0 auto;
}

/* Popular tour */
.popular-tour-container {
    margin: 6.25rem 0;
}

.popular-tour {
    display: flex;
    gap: 3.25rem;
    align-items: center;
}

.popular-tour-text h3 {
    margin-bottom: 1.5rem;
}

.popular-tour-text ul {
    padding-left: 1.5rem;
    margin: 1.5rem 0;
}

.popular-tour-text ul li:nth-child(-n+2) {
    margin-bottom: 1rem;
}

.popular-tour-text button {
    margin-top: 2rem;
}

/* Destination */
.destination-container {
    text-align: center;
    margin-bottom: 6.25rem;
}

.destination-text {
    /* text-align: center; */
    margin: 0 auto;
    width: 40.25rem;
}

.destination-text h3 {
    margin-bottom: 1.5rem;
}

.destination-text p {
    margin-bottom: 3rem;
}


.destination-images {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "ma ma ma ma ma ma in in in in in in"
        "sr sr sr sr na na na na na ka ka ka"
        "bd bd bd bd bd bb bb bb bb bb bb bb";
}

.destination-image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-size: cover;
    height: 18.75rem;
}

.destination-image-card h5 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

#destination-img-1 {
    background-image: url("Images/maldives.png");
    background-repeat: no-repeat;
    grid-area: ma;
}

#destination-img-2 {
    background-image: url("Images/indonesia.png");
    background-repeat: no-repeat;
    grid-area: in;
}

#destination-img-3 {
    background-image: url("Images/srilanka.png");
    background-repeat: no-repeat;
    grid-area: sr;
}

#destination-img-4 {
    background-image: url("Images/north-america.png");
    background-repeat: no-repeat;
    grid-area: na;
}

#destination-img-5 {
    background-image: url("Images/kashmir.png");
    background-repeat: no-repeat;
    grid-area: ka;
}

#destination-img-6 {
    background-image: url("Images/bangladesh.png");
    background-repeat: no-repeat;
    grid-area: bd;
}

#destination-img-7 {
    background-image: url("Images/bandarban.png");
    background-repeat: no-repeat;
    grid-area: bb;
}


/* Why us section */
.why-us-container {
    margin-bottom: 6.25rem;
}

.why-us-text-container {
    text-align: center;
    margin-bottom: 3rem;
}

.why-us-text {
    margin: 0 auto;
    width: 40.25rem;
}

.why-us-text h3 {
    margin-bottom: 1.5rem;
}

.why-us-card-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "h h h h h h m m m m m m"
        ". . . p p p p p p . . .";
}

.why-us-card {
    border-radius: 1rem;
    padding: 2rem;
}

.why-us-card h5 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#why-us-hotel {
    grid-area: h;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#why-us-map {
    grid-area: m;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#why-us-price-tag {
    grid-area: p;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Newsletter */
.newsletter-container {
    margin-bottom: 6.25rem;
}

.newsletter {
    display: flex;
    gap: 1.5rem;
}

.newsletter-text {
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}

.newsletter-text h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsletter-text p {
    /* max-width: 350px; */
    margin-bottom: 3rem;
}

.newsletter-text hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 1.5rem 0;
}

.input-form {
    /* max-width: 100%; */
    /* max-width: 393px; */
    /* border: 1px solid red; */
}

.input-form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    display: block;
    width: 100%;
    padding: 1rem 0;
    /* padding-left: 20px; */
    /* padding: 1rem 0 1rem 1.25rem; */
    border: 0;
}

.input-form input::placeholder {
    padding-left: 1.25rem;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}

.input-form input[type=text] {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.input-form input[type=email]{
    margin-bottom: 1.5rem;
}

.btn-sub {
    width: 100%;
    margin-top: 1.5rem;
}

.newsletter-img {
    position: relative;
}

.newsletter-img img {
    height: 100%;
}

.offer {
    border-radius: 1rem;
    background: #FF5400;
    padding: 1.5rem 2.5rem;
    /* width: 324px; */
    transform: rotate(-19.628deg);
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 3.1rem;
    right: 0.35rem;
    /* position: relative;
    bottom: 168px;
    left: 100px; */
}



.offer a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.offer h4 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;

}

/* Footer */
footer {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 6.875rem 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-logo h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-logo span {
    color: #FF5400;
}

.footer-description {
    max-width: 769px;
    display: inline-block;
    margin-bottom: 2rem;

}

.social-links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

footer hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    max-width: 54.5rem;
    margin: 0 auto;
}

.copyright {
    margin-top: 3rem;
}


/* Mobile responsive */
@media screen and (max-width:600px) {

    /* Global */
    .section-title {
        font-size: 1.25rem;
    }

    .section-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.875rem;
        line-height: 1.3125rem;
        /* 162.5% */
    }

    /* ---Header--- */
    header {
        /* max-width: 35rem; */
        max-width: 100%;
        margin: 1.25rem;
    }

    /* Navbar */
    .nav ul {
        display: none;
    }

    .hamburger-menu {
        display: unset;
    }

    .nav h3 {
        font-size: 1.5rem;
    }

    /* Banner */
    .banner {
        background-size: cover;
        /* height: 100%; */
        padding: 2rem 1.5rem;
    }

    .banner h1 {
        font-size: 1.375rem;
    }

    .banner p {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        /* 162.5% */
        margin-bottom: 2rem;
    }

    .search-area-container {
        width: 100%;
        padding: 0 1.5rem;
        /* border: 1px solid sandybrown; */
    }

    .search-area {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .search-button,
    select,
    input {
        width: unset;
        /* border: 1px solid red; */
    }


    select {
        border-right: 1rem solid #fff;
    }

    /* Main */
    main {
        padding: 1.25rem;
        margin: 0 auto;
    }

    /* Popular tour */
    .popular-tour-container {
        margin: 1.5rem 0;
    }

    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
    }

    .popular-tour img {
        width: 100%;
    }

    /* Destination */
    .destination-container {
        margin-bottom: 1.5rem;
    }

    .destination-text {
        /* text-align: center; */
        margin: 0 auto;
        width: 100%;
    }

    .destination-text h3 {
        margin-bottom: 1rem;
    }

    .destination-text p {
        margin-bottom: 1rem;
    }

    .destination-image-card {
        height: 18.75rem;
    }

    .destination-images {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "ma ma ma ma ma ma ma ma ma ma ma ma"
            "in in in in in in in in in in in in"
            "sr sr sr sr sr sr sr sr sr sr sr sr"
            "na na na na na na na na na na na na"
            "ka ka ka ka ka ka ka ka ka ka ka ka"
            "bd bd bd bd bd bd bd bd bd bd bd bd"
            "bb bb bb bb bb bb bb bb bb bb bb bb";
    }

    .destination-image-card h5 {
        font-size: 1.25rem;
    }

    #destination-img-1 {
        background-image: url("Images/maldives\ 2.png");
        background-repeat: no-repeat;
        grid-area: ma;
    }

    #destination-img-2 {
        background-image: url("Images/indonesia\ 2.png");
        background-repeat: no-repeat;
        grid-area: in;
    }

    #destination-img-3 {
        background-image: url("Images/srilanka\ 2.png");
        background-repeat: no-repeat;
        grid-area: sr;
    }

    #destination-img-4 {
        background-image: url("Images/north-america\ 2.png");
        background-repeat: no-repeat;
        grid-area: na;
    }

    #destination-img-5 {
        background-image: url("Images/kashmir\ 2.png");
        background-repeat: no-repeat;
        grid-area: ka;
    }

    #destination-img-6 {
        background-image: url("Images/bangladesh\ 2.png");
        background-repeat: no-repeat;
        grid-area: bd;
    }

    #destination-img-7 {
        background-image: url("Images/bandarban\ 2.png");
        background-repeat: no-repeat;
        grid-area: bb;
    }

    /* Why us section */
    .why-us-container {
        margin-bottom: 1.5rem;
    }

    .why-us-text-container {
        margin-bottom: 1rem;
    }

    .why-us-text {
        margin: 0 auto;
        width: 100%;
    }

    .why-us-text h3 {
        margin-bottom: 1rem;
    }

    .why-us-card-container {
        gap: 1rem;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "h h h h h h h h h h h h"
            "m m m m m m m m m m m m"
            "p p p p p p p p p p p p";
    }

    .why-us-card {
        border-radius: 1rem;
        padding: 2rem;
    }

    .why-us-card h5 {
        font-size: 1.25rem;
        margin: 1rem 0;
    }

    /* Newsletter */
    .newsletter-container {
        margin-bottom: 1.5rem;
    }

    .newsletter {
        flex-direction: column;
        gap: 1rem;
    }

    .newsletter-text {
        padding: 1.5rem;
    }

    .newsletter-text h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .newsletter-text p {
        max-width: 80%;
        margin-bottom: 1rem;
    }

    .newsletter-text hr {
        margin: 1rem 0;
    }

    .input-form input {
        width: 100%;
    }

    .input-form input[type=text] {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .input-form input[type=email]{
        margin-bottom: 1.25rem;
    }

    .btn-sub {
        width: 100%;
        margin-top: 1.25rem;
    }

    .newsletter-img img {
        width: 100%;
    }

    .offer {
        bottom: 2.75rem;
    }

    .offer a {
        font-size: 1rem;
    }

    .offer h4 {
        font-size: 1.5rem;
    }

    /* Footer */
    footer {
        padding: 2rem 0;
    }


    .footer-logo h3 {
        font-size: 1.5rem;
    }

    .footer-description {
        max-width: 80%;
        margin-bottom: 1rem;
    }

    .social-links ul {
        margin-bottom: 1.5rem;
    }

    footer hr {
        max-width: 80%;
    }

    .copyright {
        margin-top: 1.5rem;
    }



}